# PhpStorm
.idea

# Docker Compose
.env

backend/yarn.lock
backend/package-lock.json
backend/composer.lock
backend/public/js/app.js

.htaccess
.user.ini
.ftpaccess
*.log
backend/storage/result_excel.xlsx