.select-month{
  text-align: right;
  margin-left: 10px;
}
.table-responsive {
  overflow: auto;
}
.table-row{
  position: relative;
  cursor: pointer;
}
.table-row:nth-child(2n):hover{
  opacity: 0.7;
}
.order-detail{
  position: fixed;
  width: 20vw;
  right: -20vw;
  top:0;
  height:100%;
  overflow-y:scroll;
  background-color:white;
  transition: right .4s;
}
.order-detail.show{
  right: 0;
}
